.user-section{
    position: relative;
    float: left;
    min-width: 20%;
}
.location-section{
    position: relative;
    float: left;
    max-width: 55%;
    min-width: 55%;
    text-align: center;
}
.all-location-section{
    position: relative;
    float: right;
    min-width: 20%;
}
#user-photo{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}