div:hover{
    font-weight: bold;
}
#user-section{
    position: relative;
    float: left;
    max-width: 20%;
    min-width: 20%;
}
#location-section{
    position: relative;
    float: left;
    left: 100px;
    max-width: 40%;
    min-width: 40%;
}
#location-description{
    margin-top: 10px;
}
#all-location-section{
    position: relative;
    float: right;
    max-width: 20%;
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    scroll-behavior: unset;
}
#log-in-form{
    max-width: 200px;
    margin: 10px;
    position: relative;
    left: 25%;
}
#sign-up-form{
    max-width: 200px;
    margin: 10px;
    position: relative;
    left: 25%;
}
#user-photo{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.carousel-inner .carousel-item a img {
    max-height: 400px;
}
.carousel{
    position: relative;
}
.d-block{
    max-width: 100%;
    max-height: 500px;
    min-height: 500px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0, 0, 0, .5);
box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}