#user-section{
    position: relative;
    float: left;
    min-width: 20%;
}
#location-section{
    position: relative;
    float: left;
    max-width: 55%;
    min-width: 55%;
    text-align: center;
}
.all-location-section{
    position: relative;
    float: right;
    min-width: 20%;
}
#log-in-form{
    max-width: 200px;
    margin: 10px;
    position: relative;
    left: 25%;
}
#user-photo{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.carousel-inner .carousel-item a img {
    max-height: 400px;
}
.carousel{
    float: left;
}
.d-block{
    max-width: 500px;
    max-height: 500px;
    min-height: 500px;
}